<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.rtl.min.css"
    integrity="sha384-+qdLaIRZfNu4cVPK/PxJJEy0B0f3Ugv8i482AKY7gwXwhaCroABd086ybrVKTa0q" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="/css/style.css">
  <script>

    document.addEventListener("DOMContentLoaded", function () {
      const buttons = document.querySelectorAll(".nav-link")
      const buttonActiveClassName = "active"
      for (const button of buttons) {
        button.addEventListener('click', function (event) {
        disactiveAllButtons()
        }) 
      }

      function disactiveAllButtons() {
        for (const button of buttons) {
          if (button.classList.contains(buttonActiveClassName)) {
            button.classList.remove(buttonActiveClassName)
          }
        }
      }

    })

  </script>
  <title>DigitALLA</title>
</head>

<body>

  <nav class="navbar navbar-expand navbar-light " style="background-color: #c5d4df;">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:8080" id="digit-alla">DigitALLA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="home-link" class="nav-link "  href="/">
              <i class="bi bi-house-door"></i>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a id="om-link" class="nav-link" href="/about">
              <i class="bi bi-info-circle"></i>
              Om DigitALLA
            </a>
          </li>
          {{#if session.isOrganization}}
          <li class="nav-item">
            <a id="log-link" class="nav-link" href="/auth/logout">
              <i class="bi bi-box-arrow-right"></i>
              Log ut
            </a>
          </li>
          {{else}}
          <li class="nav-item">
            <a id="log-link" class="nav-link" href="/auth">
              <i class="bi bi-box-arrow-in-left"></i>
              Kom igång
            </a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>

  {{#if session.isOrganization}}
  <nav class="navbar navbar-light bg-light left">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">DigitALLA</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
            <li class="nav-item">
              <a id="home-link" class="nav-link" aria-current="page" href="/">
                <i class="bi bi-house-door"></i>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a id="om-link" class="nav-link" aria-current="page" href="/about">
                <i class="bi bi-info-circle"> </i>
                Om DigitALLA
              </a>
            </li>
            <li class="nav-item">
              <a id="accounts-link" class="nav-link" aria-current="page" href="/auth/accounts">
                <i class="bi bi-person-video2"></i>
                Kontaktlista 
              </a>
            </li>
            <li class="nav-item">
              <a id="forum-link" class="nav-link" aria-current="page" href="/forum">
                <i class="bi bi-people-fill"></i>
                Forum
              </a>
            </li>
            <li class="nav-item">
              <a id="blogs-link" class="nav-link" aria-current="page" href="/blogs">
                <i class="bi bi-person-workspace"></i>
                Blogg
              </a>
            </li>
            <li class="nav-item">
              <a id="my-account-link" class="nav-link" aria-current="page" href="/auth/my-account">
                <i class="bi bi-person-circle"></i>
                Mitt konto
              </a>
            </li>
            {{#if session.isAdmin}}
            <li class="nav-item">
              <a id="inactive-accounts-link" class="nav-link" aria-current="page" href="/auth/inactive-accounts">
                <i class="bi bi-person-circle"></i>
                Inaktiva Konton
              </a>
            </li>
            {{/if}}
            <li class="nav-item">
              <a id="log-link" class="nav-link " aria-current="page" href="/auth/logout">
                <i class="bi bi-box-arrow-right"></i>
                Log ut
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
      <div class="container">
        <div class="row g-4">
          <div class="col col-md-4">
            <form >
              <div class="row g-4">
                <div class="col col-md-6">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div class="col col-md-6">
                  <button class="btn btn-primary btn-group-lg" type="submit">
                      <i class="bi bi-search"></i>
                      Search
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col col-md-12">
            <div class="row">
              <div class="col">
                <div class="btn-group">
                  <a href="#" class="btn btn-primary" aria-current="page">Senaste inlägg </a>
                  <a href="#" class="btn btn-primary" >#Aktiviteter /evenemang </a>
                  <a href="#" class="btn btn-primary">#Digitala tips </a>
                  <a href="#" class="btn btn-primary">#Digital hjälp </a>
                  <a href="#" class="btn btn-primary">#Funktionsvariationer</a>
                  <a href="#" class="btn btn-primary">#Samverkan</a>
                  <a href="#" class="btn btn-primary">#Seniorer</a>
                  <a href="#" class="btn btn-primary">#Studiecirklar </a>
                  <a href="#" class="btn btn-primary">#Utbildning</a>
                  <a href="#" class="btn btn-primary">#Utrikesfödda</a>
                  <a href="#" class="btn btn-primary">#Övrigt</a>
                </div>            
              </div>
 
            </div>
          </div>

        </div>
      </div>
    </div>
    
  </nav>
  <main>
    <div class="container ">
      {{{body}}}
    </div>
  </main>
  {{else}}
  <main>
    <div class="container ">
      not allowed
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Har du kommit vilse? </h5>
              <p class="card-text"> Om du har kommit vilse Tryck på knappen nedan för att komma tillbaka till startsidan eller Tryck på loggan DigitALLA uppe. </p>
              <a href="/" class="btn btn-primary">Tillbaka till startsidan</a>
            </div>
          </div>
    </div>
  </main>
  {{/if}}



  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>