<h3>Skriv forums inlägg </h3>
<form action="/forum/create" method="post" id="loginForm" class="row gy-2 gx-3 align-items-center">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-4">
    <div class="col col-md-9">
      <div class="card border-info">
        <div class="card-header">
          <div class="form-floating mb-3">
              <input type="text" class="form-control form-control-lg" id="signup-first-name" placeholder="e" name="title">
              <input type="hidden" value="{{accountId}}" name="accountId" >
              <label for="signup-first-name" class=" col-form-label-lg">
                Title
              </label>
          </div>              
        </div>
        <div class="card-body">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="forum-textarea" name="body"></textarea>
            <label for="signup-Textarea">Beskrivning av tidigare och planerade insatser</label>
          </div> 
          <div class="card-footer bg-transparent border-success">

          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-3">
      <p class="fs-4">Välj taggar :</p>
      <div class="btn-group-vertical btn-group-lg" role="group" aria-label="Basic checkbox toggle button group">
        <input type="hidden" class="btn-check" id="btncheck1" autocomplete="off"  name="tag">

        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" value="1" name="tag">
        <label class="btn btn-outline-primary" for="btncheck2">#Aktivitet/evenemang</label>

        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" value="2" name="tag">
        <label class="btn btn-outline-primary" for="btncheck3">#Digital tips </label>

        <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off" value="3" name="tag">
        <label class="btn btn-outline-primary" for="btncheck4">#Digital hjälp</label>

        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" value="4" name="tag">
        <label class="btn btn-outline-primary" for="btncheck1">#Funktionsvariationer</label>

        <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off" value="5" name="tag">
        <label class="btn btn-outline-primary" for="btncheck5">#Samverkan</label>

        <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off" value="6" name="tag">
        <label class="btn btn-outline-primary" for="btncheck6">#Seniorer </label>

        <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off" value="7" name="tag">
        <label class="btn btn-outline-primary" for="btncheck7">#Studiecirklar</label>

        <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off" value="8" name="tag">
        <label class="btn btn-outline-primary" for="btncheck8">#Utbildning</label>

        <input type="checkbox" class="btn-check" id="btncheck9" autocomplete="off" value="9" name="tag">
        <label class="btn btn-outline-primary" for="btncheck9">#Utrikesfödda </label>

        <input type="checkbox" class="btn-check" id="btncheck10" autocomplete="off" value="10" name="tag">
        <label class="btn btn-outline-primary" for="btncheck10">#Övrigt </label>

      </div>             
    </div>
    <div class="row g-4 ">
      <div class="col-md-12">
          <button type="submit" class="btn btn-primary"> <i class="bi bi-send"></i> Skicka in!</button>
      </div>
    </div>
  </div>
</form>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        const cards = document.querySelectorAll("#reply-card")
        const className = "hidden"
        for (const card of cards) {
            if (!button.classList.contains(className)) {

                button.classList.add(className)
            }
        }



    })

</script>