      <form action="/auth/login" method="post" id="loginForm" class="row gy-2 gx-3 align-items-center">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
          <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control form-control-lg" id="signup-first-name" placeholder="e">
                <label for="signup-first-name" class=" col-form-label-lg">
                  Förnamn
                </label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control form-control-lg" id="signup-last-name" placeholder="e">
                <label for="signup-last-name" class=" col-form-label-lg">
                  Efternamn
                </label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control form-control-lg" id="signup-organisation" placeholder="e">
                <label for="signup-organisation" class=" col-form-label-lg">
                  Organisation
                </label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control form-control-lg" id="signup-email" placeholder="e">
                <label for="signup-email" class=" col-form-label-lg">
                  E-post
                </label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control form-control-lg" id="signup-password" placeholder="e">
                <label for="signup-password" class=" col-form-label-lg">
                  Lösenord
                </label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control form-control-lg" id="signup-repassword" placeholder="e">
                <label for="signup-repassword" class=" col-form-label-lg">
                  Bekräfta lösenord
                </label>
            </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary"> <i class="bi bi-send"></i> Skicka in!</button>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="signup-Textarea"></textarea>
              <label for="signup-Textarea">Beskrivning av tidigare och planerade insatser</label>
            </div>              
          </div>
        </div>
      </form>      <form action="/auth/login" method="post" id="loginForm" class="row gy-2 gx-3 align-items-center">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
          <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control form-control-lg" id="signup-first-name" placeholder="e">
                <label for="signup-first-name" class=" col-form-label-lg">
                  Förnamn
                </label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control form-control-lg" id="signup-last-name" placeholder="e">
                <label for="signup-last-name" class=" col-form-label-lg">
                  Efternamn
                </label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control form-control-lg" id="signup-organisation" placeholder="e">
                <label for="signup-organisation" class=" col-form-label-lg">
                  Organisation
                </label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control form-control-lg" id="signup-email" placeholder="e">
                <label for="signup-email" class=" col-form-label-lg">
                  E-post
                </label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control form-control-lg" id="signup-password" placeholder="e">
                <label for="signup-password" class=" col-form-label-lg">
                  Lösenord
                </label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control form-control-lg" id="signup-repassword" placeholder="e">
                <label for="signup-repassword" class=" col-form-label-lg">
                  Bekräfta lösenord
                </label>
            </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary"> <i class="bi bi-send"></i> Skicka in!</button>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="signup-Textarea"></textarea>
              <label for="signup-Textarea">Beskrivning av tidigare och planerade insatser</label>
            </div>              
          </div>
        </div>
      </form>

<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
  <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck1">Checkbox 1</label>

  <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck2">Checkbox 2</label>

  <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>
</div>