{{#if session.accountId}}

<div class="card" >
  <div class="card-body">
    <h3 class="card-title">Organisations</h3>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Har du kommit vilse? </h5>
        <p class="card-text"> Om du har kommit vilse Tryck på knappen nedan för att komma tillbaka till startsidan eller Tryck på loggan DigitALLA uppe. </p>
        <a href="/" class="btn btn-primary">Tillbaka till startsidan</a>
      </div>
    </div>
  </div>
</div>

{{else}}