

@media (min-width: 600px) {
    #show-places-list-bar{
        display: none;
    }
    #digit-alla-mob{
        display: none;

    }
}
@media (max-width: 599px){
    #show-places-list-btn.hidden{
        display: none;
    }
    #map.halv-hidden{
        height:17rem;
    }
    #list-places.hidden{
        display: none;
    }
    #digit-alla{
        display: none;
    }
    #digit-alla-mob{
        display: block;
        background-color: azure;
        text-align: center;
    }
}
#map{
    height:35rem;
    width:100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  h3 {
    display: block;
    text-align: center;
    background-color: rgb(208, 242, 250);
    color: rgb(27, 19, 36);
}

#bli-medlem-login{
    margin-top: 1rem;
    background-color: rgb(108, 189, 207);
    max-width: 540px;
}

#bli-medlem-image{

    border-radius: 50%
}
#signup-description, #signup-interest, #forum-textarea{
    height: 20rem;
    margin-bottom: 2rem;
}
.card .card-body .row .col.col-md-4.hashtags{
    background-color: rgb(249, 254, 255);

}
.card .card-body .row .badge.text-dark.tag{
    background-color: rgb(163, 213, 223);

}
.card .badge.text-dark.tag{
    background-color: rgb(163, 169, 223);

}
.card .badge-Dark.text-light.tag{
    background-color: rgb(10, 15, 88);   
}
#answer-Textarea{
    height: 10rem;

}
#blog-card{
    margin-top: 1rem;
    background-color: rgb(181, 219, 228);
    max-width: 600px;
}

#replys-card{
    margin-left: 2rem;
    margin-bottom: 1rem;
}

#replys-card.card.hidden{
    display: none;

}

#reply-Textarea{
    height: 4rem;
}

#account-contact{
    margin-top: 1rem;
    background-color: rgb(191, 222, 230);
    max-width: 540px;
}

#account-contact-inactiv{
    margin-top: 1rem;
    background-color: rgb(241, 138, 202);
    max-width: 540px;
}
#v-list-forum{
    max-width: 240px;
    margin-left: 1rem;
    margin-top: 6rem;
}