

@media (min-width: 600px) {

}
@media (max-width: 599px){

}
#map{
    height:35rem;
    width:100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  h3 {
    display: block;
    text-align: center;
    background-color: rgb(208, 242, 250);
    color: rgb(27, 19, 36);
}

#bli-medlem-login{
    margin-top: 1rem;
    background-color: rgb(108, 189, 207);
    max-width: 540px;
}

#bli-medlem-image{

    border-radius: 50%
}
#signup-Textarea{
    height: 20rem;
}
.card .card-body .row .col.col-md-4.hashtags{
    background-color: rgb(249, 254, 255);

}
.card .card-body .row .badge.text-dark.tag{
    background-color: rgb(163, 213, 223);

}